<title>BookCss</title>

<style>
*{
margin:0;
padding:0;
}
.header{
height:60px;
background:#262626;
padding:0 50px;
}
.logo{
width:30%;
float:left;
color:#c242f5; 
font-weight:bold;
text-transform:uppercase;
line-height:60px;
font-size:35px;
font-family:sans-serif;
}
nav{
width:68%;
float:right;
}
nav ul{
list-style:none;
float:right;
}
nav ul li{
display:inline-block;
display:inline-table;
}
nav ul a{
text-decoration:none;
color:#fff;	
font-family:sans-serif;
font-weight:bold;
margin:0 10px;
line-height:60px;
text-transform:uppercase;
}
.banner{
height: 100%;
}
.content
padding: 5%;
}
.content p{
	font-size:18px;
	line-height:1.7;
	font-family:sans-serif;
	margin-bottom:25px;	
}
footer{
	backgroud:#000;
	color:#fff;
	padding:15px 50px;
	text-align:center;
}
</style>

</head>

<body>

<header>
<div class="logo">Logo</div>

<navlist>
