<title>StoriesCss</title>

<style>
*{
margin:0;
padding:0;
}
.header{
height:60px;
background:#262626;
padding:0 50px;
}

nav{
width:68%;
float:right;
}
nav ul{
list-style:none;
float:right;
}
nav ul li{
display:inline-block;
display:inline-table;
}
nav ul a{
text-decoration:none;
color:#fff;	
font-family:sans-serif;
font-weight:bold;
margin:0 10px;
line-height:60px;
text-transform:uppercase;
}
.banner{
height: 100%;
}
.content
padding: 5%;
}
.content p{
	font-size:18px;
	line-height:1.7;
	font-family:sans-serif;
	margin-bottom:25px;	
}
footer{
	backgroud:#000;
	color:#fff;
	padding:15px 50px;
	text-align:center;
}

}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(25, 12, 41);
}
.slider{
	position: relative;
	width: 60%;
	overflow: hidden;

}
.images{
	display: flex;
	width: 100%;
}
.images img{
	height: 400px;
	width: 100%;
	transition: all 0.15s ease;
}
.images input{ 
	display: none;
}
.dots{  
	display: flex;
	justify-content: center;
	margin: 5px; 
}
.dots label{ 
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: solid #948b07 3px;
	cursor: pointer;
	transition: all 0.15s ease;
	margin: 5px;
 }
 .dots label:hover {background: #e8db20;}
 #img1:checked ~ .m1 { 
 	margin-left: 0;
 }
#img2:checked ~ .m2 { 
 	margin-left: -100%;
 }
#img3:checked ~ .m3 { 
 	margin-left: -200%;
 }
 #img4:checked ~ .m4 { 
 	margin-left: -300%;
 }